<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Üben</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ header }}</h1>
    <a href="{{ url_for('index') }}">Zurück</a>
    <div class="table-responsive">
        <table class="practice-table">
            <thead>
                <tr>
                    <th>{{ col_name_term }}</th>
                    {% if col_name_comment %}
                        <th>{{ col_name_comment }}</th>
                    {% endif %}
                    <th>{{ col_name_translation }}</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for category, items in vocab_data.items() %}
                    <tr>
                        <td colspan="4" class="category-header">{{ category }}</td>
                    </tr>
                    {% for item in items %}
                        <tr>
                            <td>{{ item[col_name_term] }}</td>
                            {% if col_name_comment %}
                                <td>{{ item[col_name_comment] }}</td>
                            {% endif %}
                            <td>{{ item[col_name_translation] }}</td>
                            <td>
                                {% include '_status_display.html' %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function handleWriteScores(button) {
            // Disable the button to prevent multiple submissions
            button.disabled = true;

            // Change button text and add a spinning icon
            button.innerHTML = '<span class="spinner"></span> Speichern...';
        }
    </script>

    {% if is_error_review %}
    <div class="action-buttons">
        <form action="/test_errors" method="post">
            <button type="submit">Fehler neu testen</button>
        </form>
        <form action="/write_scores" method="post" onsubmit="handleWriteScores(this.querySelector('button'))">
            <button type="submit">Ergebnisse in Google Sheets speichern</button>
        </form>
    </div>
    {% endif %}
</body>
</html>
